* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Fixes the page moving left bug for mobile.*/
html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(241, 241, 235);
  height: 100vh;
  min-height: 0vh;
  font-family: inter, arial;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 150px; */
  min-height: 60px;
  width: 100%;
  background-color: black;
  color: white;
  padding-left: 100px;
}

header img {
  cursor: pointer;
}

header img:hover {
  color: rgb(217, 78, 78);
}

.home-img,
.list-img,
.share-img {
  height: 40px;
  width: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60px;
  z-index: 1;
  width: 100%;
  background-color: black;
  color: white;
}

footer a:hover {
  color: #551a8b;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: rgb(241, 241, 235);
}

@media screen and (max-width: 675px) {
  header {
    padding-left: 0px;
    gap: 0px;
  }
}

button:active {
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transform: scale(0.98);
}
