.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  overflow: hidden;
}

.home > h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.home--search-bar {
  width: 50%;
  min-height: 50px;
  border: none;
  background-color: rgb(197, 193, 193);
  border-radius: 15px;
  font-size: 1.9rem;
}

.home--search-bar:focus {
  outline: 1px solid black;
}

.search-bar-results {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  width: 70%;
  margin-top: 10px;
  min-height: 70%;
  background-color: rgb(197, 193, 193);
  border-radius: 15px;
  font-size: 1.8rem;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

.movie-card:last-child {
  border: none;
}

input {
  padding-left: 10px;
}

.movie-card {
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: auto;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(70, 70, 70);
  padding-top: 10px;
  padding-bottom: 15px;
}

.movie-card--poster-side {
  display: flex;
  gap: 20px;
}

.movie-card--addMovieButton {
  background-color: rgb(44, 123, 44);
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 29px;
  font-size: 1.1rem;
}

.movie-card--poster {
  height: 95px;
  width: 75px;
}

.movie-card--addMovieButton:hover {
  cursor: pointer;
  background-color: rgb(217, 78, 78);
}

.movie-card--addMovieButton:active {
  background-color: rgb(217, 78, 78);
}

.movie-rating-90 {
  color: white;
  background-color: rgb(70, 70, 253);
}

.movie-rating-80 {
  background-color: rgb(37, 118, 37);
}
.movie-rating-70 {
  background-color: rgb(247, 247, 69);
}

.movie-rating-60 {
  background-color: rgb(249, 190, 80);
}

.movie-rating-below-60 {
  background-color: rgb(255, 37, 37);
}

.movie-rating-90,
.movie-rating-80,
.movie-rating-70,
.movie-rating-60,
.movie-rating-below-60 {
  border-radius: 5px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 1.5rem;
  cursor: pointer;
}

.rating-add-block {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 900px) {
  .home h1 {
    font-size: 3rem;
  }

  .home--search-bar {
    min-height: 40px;
  }

  .search-bar-results {
    font-size: 1.2rem;
    gap: 20px;
  }

  .movie-card--rating {
    font-size: 1.2rem;
  }

  .search-bar-results {
    font-size: 1.2rem;
  }

  .movie-card--rating {
    font-size: 1.2rem;
  }

  .search-bar-results {
    background-color: rgb(241, 241, 235);
    width: 100%;
    font-size: 1.2rem;
  }

  .movie-card--addMovieButton {
    width: 50px;
  }

  .movie-card--poster {
    align-self: center;
    height: 50px;
    width: auto;
  }

  .movie-card {
    height: 15%;
  }

  footer {
    font-size: 0.8rem;
  }

  .home--search-bar {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 300px) {
  .movie-card--title {
    font-size: 0.9rem;
  }

  .home--search-bar {
    font-size: 1.1rem;
  }
}
