.movieInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 100px;
  bottom: 100px;
  padding-left: 100px;
  width: 80%;
  height: 650px;
  background-color: rgb(217, 78, 78);
  z-index: 3;
}

.bold {
  font-weight: 600;
}

.movieInfo--information-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.5rem;
  padding-top: 50px;
}

.movieInfo--title {
  font-size: 3rem;
  text-align: center;
}

.movieInfo--exitInfo {
  width: 60px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.mobile-x-styling {
  align-self: flex-end;
  width: 60px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.movieInfo--exitInfo:hover {
  background-color: rgb(253, 0, 0);
  transition: background-color 0.5s ease;
}

.movieInfo--buttons {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: flex-end;
  /* flex-grow: 1; */
  padding-bottom: 20px;
}

.movieInfo--addMovie,
.movieInfo--deleteMovie {
  min-height: 40px;
  max-height: 40px;
  min-width: 80px;
  font-size: 1.5rem;
  color: rgb(235, 235, 235);
  border: none;
  border-radius: 5px;
}

.movieInfo--addMovie:hover {
  background-color: rgb(217, 78, 78);
}

.movieInfo--deleteMovie:hover {
  background-color: #2abbd5;
}

.movieInfo--addMovie {
  background-color: rgb(9, 226, 9);
}

.movieInfo--deleteMovie {
  background-color: rgb(255, 10, 10);
}

.movieInfo--delete-watched {
  display: flex;
  align-items: center;
  gap: 20px;
}

.movieInfo--watched-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.5rem;
}

.movieInfo--watched-container input {
  width: 30px;
  height: 50px;
}

fieldset {
  display: flex;
  gap: 10px;
  border: none;
  font-size: 1.3rem;
}

/*Media Query*/
@media screen and (max-width: 675px) {
  .movieInfo {
    overflow-y: scroll;
    padding-left: 20px;
    height: 80%;
    width: 100%;
  }

  .movieInfo--title {
    font-size: 1.5rem;
  }

  .movieInfo--information-block {
    font-size: 1.3rem;
  }

  .movieInfo--exitInfo {
    position: fixed;
    background-color: transparent;
    width: 100px;
    height: 70px;
  }

  .movieInfo--exitInfo:hover {
    background-color: transparent;
  }

  .mobile-x-styling {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(255, 0, 0);
    align-self: flex-end;
    width: 30px;
    height: 30px;
    border: none;
  }

  .movie-text {
    padding-right: 20px;
  }
}
