* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(241, 241, 235);
  height: 100vh;
  font-family: inter, arial;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  min-height: 60px;
  width: 100%;
  background-color: black;
  color: white;
}

header h2 {
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  width: 100%;
  background-color: black;
  color: white;
}
