/**List.jsx start**/
.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  width: 100%;
}

.filter-row {
  align-self: flex-end;
  margin-right: 3%;
}

.filter-container {
  display: flex;
  flex-direction: column;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(217, 78, 78);
  border-radius: 5px;
}

.filter-buttons span {
  font-size: 1.5rem;
}

.filter-img {
  height: 25px;
  width: 25px;
}

.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 10%;
  margin-left: 10%;
  gap: 40px;
}
/**List.jsx end**/

/**ListItems.jsx start**/
.list-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  width: 250px;
  color: white;
  background-color: black;
}

.list-items-card {
}

.list-items .image-container {
  display: flex;
  flex-direction: column;
}

.list-items .image-container img {
  height: 150px;
}

.list-items .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}
/**ListItems.jsx end**/
